<%- include('./baseEjs/header')%>
<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
  <tbody>
    <tr>
      <td align="left" style="padding:0;Margin:0;padding-left:40px;padding-right:40px"><p style="Margin:0;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:33px;color:#333333;font-size:22px">
        Your email has been used to create your account at OnlineProctorE. <br> 
        Login Credentials are as follows :<br>
        <strong>Username: </strong><%= username%><br>
        <strong>Password: </strong><%= password%><br>
        Password is auto generated so it is recommended to change ASAP.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<%- include('./baseEjs/footer')%>