<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/DashboardFaculty/img/logo.png">
    <title>ChangePassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/ChangePassword/styles.css">
</head>

<body>
    <div id="form_wrapper">
        <form id="form">
            <div class="logoName">
                <div id="logo">
                    <img src="/ChangePassword/logo.png" alt="Logo" style="width:50px;height:50px;">
                </div>
                <div id="name">
                    <a href="/"><h1 class="heading">OnlineProctorE</h1></a>
                </div>
            </div>
            <div class="login-error-message">
                <b><p id="setError"></p></b>
            </div>
            <div class="input_container">
                <i class="fas fa-lock" style="color: #5BB12F;"></i>
                <input  placeholder="Password" autocomplete="false" type="password" name="password" id="password1" class='input_field'>
                <i class="far fa-eye" style="color: #5BB12F;padding-right: 20px;" id="togglePassword1" style="margin-left: -30px; cursor: pointer;"></i>
            </div>
            <div class="input_container">
                <i class="fas fa-lock" style="color: #5BB12F;"></i>
                <input  placeholder="Confirm Password" autocomplete="false" type="password" name="password2" id="password2" class='input_field'>
                <i class="far fa-eye" style="color: #5BB12F;padding-right: 20px;" id="togglePassword2" style="margin-left: -30px; cursor: pointer;"></i>
            </div>
            <input type="submit" value="Change Password" id='input_submit' class='input_field'>
            <span style="font-size: 0.5cm;"><a href="/users/login">Login Instead ?</a></span>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript " src="/ChangePassword/script.js"></script>
    <script>
        const togglePassword1 = document.querySelector('#togglePassword1');
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password1 = document.querySelector('#password1');
        const password2 = document.querySelector('#password2');
        togglePassword1.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password1.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
        togglePassword2.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>