<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                <h4 class="card-title">Change your password</h4>
                <p class="card-category">Password must be strong with minimum 8 characters and atleast 1 special character.</p>
                </div>
                <div class="card-body">
                <form enctype="multipart/form-data" method="POST" id="form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="629vALZmc5Pp1MKancHGjWYJ4IRvQXxiMUboESZS26Z4pdimusG3T3DL6yFEyq1o">
                        <p id="myerror" style="color: red;"></p>
                        <br>
                        <div class="form-group">
                            <label>New Password</label><br>
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter new password">
                        </div><br>
                        <div class="form-group">
                            <label>Change Password</label><br>
                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm above written password">
                        </div><br>
                        <button type="submit" id="profile_button" class="btn btn-primary pull-right">Update Password</button>
                </form>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
<%- include('./baseEjs/footer')%>