<%- include('./baseEjs/header')%>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-green">
                <h4 class="card-title">Change your password</h4>
                <p class="card-category">Password must be strong with minimum 8 characters and atleast 1 special character.</p>
                </div>
                <div class="card-body">
                  <form id="form">
                    <p id="setError" style="color: red;"></p>
                    <br>
                    <div class="form-group">
                        <label>New Password</label><br>
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter new password">
                    </div><br>
                    <div class="form-group">
                        <label>Confirm Password</label><br>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm above written password">
                    </div><br>
                    <input type="submit" id="profile_button" class="btn btn-primary pull-right" value="Update Password"/>
                  </form>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
<%- include('./baseEjs/footer')%>